<a href="https://colab.research.google.com/github/simsekergun/DATA601/blob/main/Lecture04_Pandas/DATA601_Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Pandas
### What's pandas?
 - Pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. <br>
 - Pandas is part of the Anaconda distribution and can be installed with Anaconda (e.g. <code> conda install pandas </code>) or via pip (<code> pip install pandas</code>) <br>
 - When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool (assuming not so large files). <br>
 - Pandas help us to explore, clean, and process our data. <br>
 - In pandas, a data table is called a DataFrame.  <br>
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_dataframe.svg" width="600">

 - Pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,…). Importing data from each of these data sources is provided by function with the prefix <span style="color: red;">read_*</span>. Similarly, the <span style="color: red;">to_*</span> methods are used to store data <br> [e.g. <code> sales = pd.read_csv("sales_data.csv" </code>) ] <br>
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/02_io_readwrite.svg" width="800">

Before working with different datasets, let's learn the basics.

<b> Note: </b> Make sure that you have/installed pandas and openpyxl before we proceed. <br>
Once again, you can use the terminal <br>
<code> conda install pandas </code> <br>
and <br>
<code> conda install -c anaconda openpyxl </code> 
<br>
If you don't use conda, then <br>
<code> pip install pandas  </code> <br>
<code> pip install openpyxl </code> 
<br>
<b> Note: </b> We will work on time series / date functionality later. <br>
In the meantime, you can start learning about them at <br>
https://pandas.pydata.org/docs/user_guide/timeseries.html <br>
https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases

In [268]:
import pandas as pd
import numpy as np

### Object Creation

In [269]:
# Creating a Series by passing a list of values, 
# letting pandas create a default integer index:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [270]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [271]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20220101', periods=6)

In [272]:
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

Let's use dates as our index

In [273]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [274]:
df

                   A         B         C         D
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432
2022-01-05 -1.172864  0.901082 -0.731651  2.240094
2022-01-06  0.558813 -1.653603 -0.214347  1.101107

In [275]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
# Note how we create the index and column names
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20220218'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [276]:
df2

     A          B    C  D      E    F
0  1.0 2022-02-18  1.0  3   test  foo
1  1.0 2022-02-18  1.0  3  train  foo
2  1.0 2022-02-18  1.0  3   test  foo
3  1.0 2022-02-18  1.0  3  train  foo

In [277]:
# The columns of the resulting DataFrame have different dtypes.
# Pay attention to columns B, E, ad F!
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### Viewing Data

In [278]:
# Here is how to view the top rows of the frame:
df.head()

                   A         B         C         D
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432
2022-01-05 -1.172864  0.901082 -0.731651  2.240094

In [279]:
# or
df.head(3)

                   A         B         C         D
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314

In [280]:
# Here is how to view the bottom rows of the frame:
df.tail(2)

                   A         B         C         D
2022-01-05 -1.172864  0.901082 -0.731651  2.240094
2022-01-06  0.558813 -1.653603 -0.214347  1.101107

In [281]:
# Display the index
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [282]:
# Display the columns
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [283]:
# DataFrame.values gives a NumPy representation of the underlying data
# Note that DataFrame.values does not include the index or column labels in the output
df.values

array([[-0.94509628, -0.32390879, -2.1346648 ,  0.41572176],
       [ 0.93374834, -1.9614071 ,  1.0532133 ,  0.29818621],
       [-0.39225787,  1.07858371, -0.58320325, -1.33031391],
       [-0.61941453, -0.59886455,  1.30002536, -0.64743198],
       [-1.17286443,  0.90108238, -0.7316507 ,  2.24009366],
       [ 0.55881294, -1.65360274, -0.21434691,  1.101107  ]])

In [284]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.272845 -0.426353 -0.218438  0.346227
std    0.841885  1.259342  1.264216  1.261892
min   -1.172864 -1.961407 -2.134665 -1.330314
25%   -0.863676 -1.389918 -0.694539 -0.411027
50%   -0.505836 -0.461387 -0.398775  0.356954
75%    0.321045  0.594835  0.736323  0.929761
max    0.933748  1.078584  1.300025  2.240094

In [285]:
# Transposing your data:
df.T

   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
A   -0.945096    0.933748   -0.392258   -0.619415   -1.172864    0.558813
B   -0.323909   -1.961407    1.078584   -0.598865    0.901082   -1.653603
C   -2.134665    1.053213   -0.583203    1.300025   -0.731651   -0.214347
D    0.415722    0.298186   -1.330314   -0.647432    2.240094    1.101107

In [286]:
# Sorting by an axis:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-01-01  0.415722 -2.134665 -0.323909 -0.945096
2022-01-02  0.298186  1.053213 -1.961407  0.933748
2022-01-03 -1.330314 -0.583203  1.078584 -0.392258
2022-01-04 -0.647432  1.300025 -0.598865 -0.619415
2022-01-05  2.240094 -0.731651  0.901082 -1.172864
2022-01-06  1.101107 -0.214347 -1.653603  0.558813

In [287]:
# Sorting by values
df.sort_values(by='B')

                   A         B         C         D
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-06  0.558813 -1.653603 -0.214347  1.101107
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722
2022-01-05 -1.172864  0.901082 -0.731651  2.240094
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314

In [288]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314
2022-01-05 -1.172864  0.901082 -0.731651  2.240094
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432
2022-01-06  0.558813 -1.653603 -0.214347  1.101107
2022-01-02  0.933748 -1.961407  1.053213  0.298186

### SELECTION

In [289]:
# Selecting a single column, which yields a Series, equivalent to df.A:
df['A']

2022-01-01   -0.945096
2022-01-02    0.933748
2022-01-03   -0.392258
2022-01-04   -0.619415
2022-01-05   -1.172864
2022-01-06    0.558813
Freq: D, Name: A, dtype: float64

In [290]:
df.A

2022-01-01   -0.945096
2022-01-02    0.933748
2022-01-03   -0.392258
2022-01-04   -0.619415
2022-01-05   -1.172864
2022-01-06    0.558813
Freq: D, Name: A, dtype: float64

In [291]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314

In [292]:
df['20220102':'20220104']

                   A         B         C         D
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432

#### Selection by Label

In [293]:
# Remember, we used "dates" as index, e.g. 
# dates = pd.date_range('20220101', periods=6)
# df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

# For getting a cross section using a label:
df.loc[dates[0]]

A   -0.945096
B   -0.323909
C   -2.134665
D    0.415722
Name: 2022-01-01 00:00:00, dtype: float64

In [294]:
# Selecting on a multi-axis by label:
df.loc[:, ['A', 'B']]

                   A         B
2022-01-01 -0.945096 -0.323909
2022-01-02  0.933748 -1.961407
2022-01-03 -0.392258  1.078584
2022-01-04 -0.619415 -0.598865
2022-01-05 -1.172864  0.901082
2022-01-06  0.558813 -1.653603

In [295]:
# Showing label slicing, both endpoints are included:
df.loc['20220102':'20220104', ['A', 'B']]

                   A         B
2022-01-02  0.933748 -1.961407
2022-01-03 -0.392258  1.078584
2022-01-04 -0.619415 -0.598865

In [296]:
# Reduction in the dimensions of the returned object:
df.loc['20220102', ['A', 'B']]

A    0.933748
B   -1.961407
Name: 2022-01-02 00:00:00, dtype: float64

In [297]:
# For getting a scalar value:
df.loc[dates[0], 'A']

-0.9450962848085099

In [298]:
# For getting fast access to a scalar (equivalent to the prior method):
df.at[dates[0], 'A']

-0.9450962848085099

#### Selection by Position

In [299]:
# Select via the position of the passed integers:
df.iloc[3]

A   -0.619415
B   -0.598865
C    1.300025
D   -0.647432
Name: 2022-01-04 00:00:00, dtype: float64

In [300]:
# By integer slices, acting similar to numpy/python:
df.iloc[3:5, 0:2]

                   A         B
2022-01-04 -0.619415 -0.598865
2022-01-05 -1.172864  0.901082

In [301]:
# By lists of integer position locations, similar to the numpy/python style:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2022-01-02  0.933748  1.053213
2022-01-03 -0.392258 -0.583203
2022-01-05 -1.172864 -0.731651

In [302]:
# For slicing rows explicitly:
df.iloc[1:3, :]

                   A         B         C         D
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314

In [303]:
# For slicing columns explicitly:
df.iloc[:, 1:3]

                   B         C
2022-01-01 -0.323909 -2.134665
2022-01-02 -1.961407  1.053213
2022-01-03  1.078584 -0.583203
2022-01-04 -0.598865  1.300025
2022-01-05  0.901082 -0.731651
2022-01-06 -1.653603 -0.214347

In [304]:
# For getting a value explicitly:
df.iloc[1, 1]

-1.9614070986506482

In [305]:
# For getting fast access to a scalar (equivalent to the prior method):
# loc: label based indexing
# iloc: position based indexing
# at: works with individuals. label based
# iat: works with individuals. position based
# 
df.iat[1, 1]

-1.9614070986506482

### Boolean Indexing

In [306]:
# Using a single column’s values to select data.
df[df.A > 0]

                   A         B         C         D
2022-01-02  0.933748 -1.961407  1.053213  0.298186
2022-01-06  0.558813 -1.653603 -0.214347  1.101107

In [307]:
# Selecting values from a DataFrame where a boolean condition is met
df[df > 0]

                   A         B         C         D
2022-01-01       NaN       NaN       NaN  0.415722
2022-01-02  0.933748       NaN  1.053213  0.298186
2022-01-03       NaN  1.078584       NaN       NaN
2022-01-04       NaN       NaN  1.300025       NaN
2022-01-05       NaN  0.901082       NaN  2.240094
2022-01-06  0.558813       NaN       NaN  1.101107

In [308]:
# Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722    one
2022-01-02  0.933748 -1.961407  1.053213  0.298186    one
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314    two
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432  three
2022-01-05 -1.172864  0.901082 -0.731651  2.240094   four
2022-01-06  0.558813 -1.653603 -0.214347  1.101107  three

In [309]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314   two
2022-01-05 -1.172864  0.901082 -0.731651  2.240094  four

###  Setting
How to add a new column?

In [310]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20220102', periods=6))
s1

2022-01-02    1
2022-01-03    2
2022-01-04    3
2022-01-05    4
2022-01-06    5
2022-01-07    6
Freq: D, dtype: int64

In [311]:
df['F'] = s1

In [312]:
# note that our original index starts at the 1st day of the month
# however s1 starts at the 2nd day of the month
df

                   A         B         C         D    F
2022-01-01 -0.945096 -0.323909 -2.134665  0.415722  NaN
2022-01-02  0.933748 -1.961407  1.053213  0.298186  1.0
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314  2.0
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432  3.0
2022-01-05 -1.172864  0.901082 -0.731651  2.240094  4.0
2022-01-06  0.558813 -1.653603 -0.214347  1.101107  5.0

In [313]:
# Setting values by label:
df.at[dates[0], 'A'] = 0
# or df.iat[0, 1] = 0
df

                   A         B         C         D    F
2022-01-01  0.000000 -0.323909 -2.134665  0.415722  NaN
2022-01-02  0.933748 -1.961407  1.053213  0.298186  1.0
2022-01-03 -0.392258  1.078584 -0.583203 -1.330314  2.0
2022-01-04 -0.619415 -0.598865  1.300025 -0.647432  3.0
2022-01-05 -1.172864  0.901082 -0.731651  2.240094  4.0
2022-01-06  0.558813 -1.653603 -0.214347  1.101107  5.0

In [314]:
# Setting by assigning with a NumPy array:
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2022-01-01  0.000000 -0.323909 -2.134665  5  NaN
2022-01-02  0.933748 -1.961407  1.053213  5  1.0
2022-01-03 -0.392258  1.078584 -0.583203  5  2.0
2022-01-04 -0.619415 -0.598865  1.300025  5  3.0
2022-01-05 -1.172864  0.901082 -0.731651  5  4.0
2022-01-06  0.558813 -1.653603 -0.214347  5  5.0

## MISSING DATA
Pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [315]:
# Reindexing allows you to change/add/delete the index on a specified axis. 
# This returns a copy of the data.
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.iloc[0,2] = np.NaN
df1

                   A         B         C  D    F   E
2022-01-01  0.000000 -0.323909       NaN  5  NaN NaN
2022-01-02  0.933748 -1.961407  1.053213  5  1.0 NaN
2022-01-03 -0.392258  1.078584 -0.583203  5  2.0 NaN
2022-01-04 -0.619415 -0.598865  1.300025  5  3.0 NaN

In [316]:
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    F    E
2022-01-01  0.000000 -0.323909       NaN  5  NaN  1.0
2022-01-02  0.933748 -1.961407  1.053213  5  1.0  1.0
2022-01-03 -0.392258  1.078584 -0.583203  5  2.0  NaN
2022-01-04 -0.619415 -0.598865  1.300025  5  3.0  NaN

In [317]:
# To drop any rows that have missing data.
df1.dropna(how='any')
# Note that
# how = 'any' ==> If any NA values are present, drop that row or column.
# how = 'all' ==> If all values are NA, drop that row or column.

                   A         B         C  D    F    E
2022-01-02  0.933748 -1.961407  1.053213  5  1.0  1.0

In [318]:
# Drop the columns where at least one element is missing
df1.dropna(axis='columns')

                   A         B  D
2022-01-01  0.000000 -0.323909  5
2022-01-02  0.933748 -1.961407  5
2022-01-03 -0.392258  1.078584  5
2022-01-04 -0.619415 -0.598865  5

In [319]:
# Keep only the rows with at least 4 non-NA values.
df1.dropna(thresh=4)
# note that the threshold is not for the number of NaNs
# instead, it is for the number of non-NaNs

                   A         B         C  D    F    E
2022-01-01  0.000000 -0.323909       NaN  5  NaN  1.0
2022-01-02  0.933748 -1.961407  1.053213  5  1.0  1.0
2022-01-03 -0.392258  1.078584 -0.583203  5  2.0  NaN
2022-01-04 -0.619415 -0.598865  1.300025  5  3.0  NaN

In [320]:
# To remove the rows, where a specific column has NaNs
df1.dropna(subset=['F'])

                   A         B         C  D    F    E
2022-01-02  0.933748 -1.961407  1.053213  5  1.0  1.0
2022-01-03 -0.392258  1.078584 -0.583203  5  2.0  NaN
2022-01-04 -0.619415 -0.598865  1.300025  5  3.0  NaN

In [321]:
# Filling missing data.
df1.fillna(value=5)

                   A         B         C  D    F    E
2022-01-01  0.000000 -0.323909  5.000000  5  5.0  1.0
2022-01-02  0.933748 -1.961407  1.053213  5  1.0  1.0
2022-01-03 -0.392258  1.078584 -0.583203  5  2.0  5.0
2022-01-04 -0.619415 -0.598865  1.300025  5  3.0  5.0

In [322]:
# To get the boolean mask where values are nan.
pd.isna(df1)

                A      B      C      D      F      E
2022-01-01  False  False   True  False   True  False
2022-01-02  False  False  False  False  False  False
2022-01-03  False  False  False  False  False   True
2022-01-04  False  False  False  False  False   True

## Operations

### Statistics

In [323]:
# Performing a descriptive statistic:
# average of columns
df.mean()

A   -0.115329
B   -0.426353
C   -0.218438
D    5.000000
F    3.000000
dtype: float64

In [324]:
# average of rows (simply by setting axis to 1)
df.mean(1)

2022-01-01    0.635357
2022-01-02    1.205111
2022-01-03    1.420625
2022-01-04    1.616349
2022-01-05    1.599313
2022-01-06    1.738173
Freq: D, dtype: float64

In [325]:
# Operating with objects that have different dimensionality and need alignment. 
# In addition, pandas automatically broadcasts along the specified dimension.
dates = pd.date_range('20220101', periods=6)
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2022-01-01    NaN
2022-01-02    NaN
2022-01-03    1.0
2022-01-04    3.0
2022-01-05    5.0
2022-01-06    NaN
Freq: D, dtype: float64

In [326]:
# Above, when we shift index, 1st of month becomes 3rd, 2nd becomes 4th, etc.
# but since we don't have 7th and 8th in our index, when they are shifted,
# 1st and 2nd elements become NaN

In [327]:
df = pd.DataFrame(np.random.randint(1,11, size=(6, 4)), index=dates, columns=list('ABCD'))
df

            A  B   C   D
2022-01-01  6  9   3   4
2022-01-02  7  9   9   9
2022-01-03  4  4   1   8
2022-01-04  2  3  10   5
2022-01-05  3  4   6  10
2022-01-06  7  6   3   9

In [328]:
s = pd.Series([1, 3, 5, -2, 6, 8], index=dates)

In [329]:
# dataframe.sub: Subtraction of dataframe and other, element-wise (binary operator sub).
df.sub(s, axis='index')

            A  B   C  D
2022-01-01  5  8   2  3
2022-01-02  4  6   6  6
2022-01-03 -1 -1  -4  3
2022-01-04  4  5  12  7
2022-01-05 -3 -2   0  4
2022-01-06 -1 -2  -5  1

### Apply

In [330]:
df

            A  B   C   D
2022-01-01  6  9   3   4
2022-01-02  7  9   9   9
2022-01-03  4  4   1   8
2022-01-04  2  3  10   5
2022-01-05  3  4   6  10
2022-01-06  7  6   3   9

In [331]:
# dataframe.cumsum returns cumulative sum over a DataFrame or Series axis.
#
# cumulative sum - vertical
df.apply(np.cumsum)

             A   B   C   D
2022-01-01   6   9   3   4
2022-01-02  13  18  12  13
2022-01-03  17  22  13  21
2022-01-04  19  25  23  26
2022-01-05  22  29  29  36
2022-01-06  29  35  32  45

In [332]:
# cumulative sum - horizontal
df.apply(np.cumsum,axis=1)

            A   B   C   D
2022-01-01  6  15  18  22
2022-01-02  7  16  25  34
2022-01-03  4   8   9  17
2022-01-04  2   5  15  20
2022-01-05  3   7  13  23
2022-01-06  7  13  16  25

In [333]:
# finding range manually is also easy
df.apply(lambda x: x.max() - x.min())

A    5
B    6
C    9
D    6
dtype: int64

In [334]:
# finding range of rows
df.T.apply(lambda x: x.max() - x.min())

2022-01-01    6
2022-01-02    2
2022-01-03    7
2022-01-04    8
2022-01-05    7
2022-01-06    6
Freq: D, dtype: int64

In [335]:
# let's do a column-wise operating
df['A'] = df['A'].apply(lambda x: x/10)
df

              A  B   C   D
2022-01-01  0.6  9   3   4
2022-01-02  0.7  9   9   9
2022-01-03  0.4  4   1   8
2022-01-04  0.2  3  10   5
2022-01-05  0.3  4   6  10
2022-01-06  0.7  6   3   9

## MERGING
Pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

#### CONCAT

In [336]:
df = pd.DataFrame(np.random.randint(1,11, size=(6, 6)))
df

    0   1   2  3  4   5
0   6   9  10  6  1   1
1   4   9   5  2  4   4
2   3   1   6  9  9  10
3   6  10   6  9  4   2
4   8   6  10  9  7   7
5  10   3   9  8  6   8

In [337]:
# break it into pieces
piece1 = df[1:4]
piece2 = df[3:6]
piece1

   0   1  2  3  4   5
1  4   9  5  2  4   4
2  3   1  6  9  9  10
3  6  10  6  9  4   2

In [338]:
piece2

    0   1   2  3  4  5
3   6  10   6  9  4  2
4   8   6  10  9  7  7
5  10   3   9  8  6  8

In [339]:
# First, let's try this
pd.concat([piece1,piece2])

    0   1   2  3  4   5
1   4   9   5  2  4   4
2   3   1   6  9  9  10
3   6  10   6  9  4   2
3   6  10   6  9  4   2
4   8   6  10  9  7   7
5  10   3   9  8  6   8

In [340]:
# Realize the repeat above!
# let's try this now

In [341]:
pd.concat([piece1, piece2], ignore_index=True)

    0   1   2  3  4   5
0   4   9   5  2  4   4
1   3   1   6  9  9  10
2   6  10   6  9  4   2
3   6  10   6  9  4   2
4   8   6  10  9  7   7
5  10   3   9  8  6   8

#### JOIN
SQL style merges

In [342]:
width = pd.DataFrame({'Model': ['Levis501', 'Levis550'], '2020 Sales': [15130, 10232]})
width

      Model  2020 Sales
0  Levis501       15130
1  Levis550       10232

In [343]:
length = pd.DataFrame({'Model': ['Levis501', 'Levis550'], '2021 Sales': [16328, 12034]})
length

      Model  2021 Sales
0  Levis501       16328
1  Levis550       12034

In [344]:
pd.merge(width, length, on='Model')

      Model  2020 Sales  2021 Sales
0  Levis501       15130       16328
1  Levis550       10232       12034

### APPEND

In [345]:
# Append rows to a dataframe
df = pd.DataFrame(np.random.randint(1,10,size=(8, 4)), columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  7  4  7  3
1  3  3  7  8
2  8  6  9  7
3  9  2  9  5
4  1  4  6  2
5  6  4  8  5
6  8  1  5  1
7  6  8  9  2

In [346]:
# Let's add a row to the end 
# note how we get get the column names of the original df
s = pd.DataFrame(np.random.randint(1,10,size=(1, 4)), columns=df.columns.values)
df.append(s, ignore_index=True)

   A  B  C  D
0  7  4  7  3
1  3  3  7  8
2  8  6  9  7
3  9  2  9  5
4  1  4  6  2
5  6  4  8  5
6  8  1  5  1
7  6  8  9  2
8  9  6  1  6

## GROUPING

In [347]:
# By “group by” we are referring to a process involving one or more of the following steps:
# (a) Splitting the data into groups based on some criteria
# (b) Applying a function to each group independently
# (c) Combining the results into a data structure

In [348]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randint(1,11,8),
                   'D': np.random.randint(1,11,8)})
df

     A      B   C  D
0  foo    one   4  3
1  bar    one   6  6
2  foo    two   3  7
3  bar  three   9  4
4  foo    two   5  9
5  bar    two   1  1
6  foo    one   1  5
7  foo  three  10  6

In [349]:
# Grouping and then applying the sum() function to the resulting groups.
df.groupby('A').sum()

      C   D
A
bar  16  11
foo  23  30

In [350]:
# Grouping by multiple columns forms a hierarchical index,
# and again we can apply the sum function.
df.groupby(['A', 'B']).sum()

            C   D
A   B
bar one     6   6
    three   9   4
    two     1   1
foo one     5   8
    three  10   6
    two     8  16

### Let's Melt!!
Assume the dataframe below shows the performance of devices (with varying width, length, and thickness) in the last two columns.

How can we transform this dataframe so that it will list the performance of all devices in the following format: 

width, length, thickness, performance

In [351]:
df = pd.DataFrame({'Width': {1: 11, 2: 12, 3: 15},
                   'Length': {1: 1, 2: 3, 3: 5},
                   'Thick_1m': {1: 2, 2: 4, 3: 6},
                   'Thick_2m': {1: 2.5, 2: 4.1, 3: 6.2}})
df

   Width  Length  Thick_1m  Thick_2m
1     11       1         2       2.5
2     12       3         4       4.1
3     15       5         6       6.2

In [352]:
# For this transformation, we need "MELT"
df2 = df.melt(id_vars=["Width", "Length"], 
        var_name="Thickness", 
        value_name="performance").dropna().copy()
df2

   Width  Length Thickness  performance
0     11       1  Thick_1m          2.0
1     12       3  Thick_1m          4.0
2     15       5  Thick_1m          6.0
3     11       1  Thick_2m          2.5
4     12       3  Thick_2m          4.1
5     15       5  Thick_2m          6.2

In [353]:
df2["Thickness"] = df2["Thickness"].str.replace("Thick_","").copy()
df2["Thickness"] = df2["Thickness"].str.replace("m","").astype(float).copy()
df2

   Width  Length  Thickness  performance
0     11       1        1.0          2.0
1     12       3        1.0          4.0
2     15       5        1.0          6.0
3     11       1        2.0          2.5
4     12       3        2.0          4.1
5     15       5        2.0          6.2

## Multi-Indexing

In [354]:
# We want to get a dataframe which will list grad and undergrad student numbers of 4 universities
# Let's create pairs first
list1 = np.repeat(np.asarray(['UMBC', 'UMD', 'Umass','Duke']).T, 2, axis=0).tolist()
list2 = ['Grad', 'Undergrad']*4
tuples = list(zip(*[list1,list2]))
print(tuples)

[('UMBC', 'Grad'), ('UMBC', 'Undergrad'), ('UMD', 'Grad'), ('UMD', 'Undergrad'), ('Umass', 'Grad'), ('Umass', 'Undergrad'), ('Duke', 'Grad'), ('Duke', 'Undergrad')]

In [355]:
index = pd.MultiIndex.from_tuples(tuples, names=['University', 'Type'])
df = pd.DataFrame(np.random.randint(1000,10000, size=(8, 2)), index=index, columns=['Domestic', 'International'])
df

                      Domestic  International
University Type
UMBC       Grad           4310           6906
           Undergrad      9714           6032
UMD        Grad           5115           6286
           Undergrad      7955           5565
Umass      Grad           1378           4796
           Undergrad      2308           6253
Duke       Grad           3355           4699
           Undergrad      6358           3855

In [356]:
df2 = df[:4]
df2

                      Domestic  International
University Type
UMBC       Grad           4310           6906
           Undergrad      9714           6032
UMD        Grad           5115           6286
           Undergrad      7955           5565

In [357]:
df.loc['UMBC']

           Domestic  International
Type
Grad           4310           6906
Undergrad      9714           6032

In [358]:
# Let's get number of students at UMBC
df.loc['UMBC','Grad']

Domestic         4310
International    6906
Name: (UMBC, Grad), dtype: int64

In [359]:
# Let's get number of domestic students at UMBC
df.loc['UMBC','Grad']['Domestic']
# or df.loc['UMBC','Grad'][0]

4310

#### STACK
<b>stack</b> inserts a list into the inner index <br>
<b>melt</b> inserts that list as a new column called 'variable' (can be renamed)

In [360]:
# The stack() method “compresses” a level in the DataFrame’s columns.
stacked = df.stack()
stacked

University  Type
UMBC        Grad       Domestic         4310
                       International    6906
            Undergrad  Domestic         9714
                       International    6032
UMD         Grad       Domestic         5115
                       International    6286
            Undergrad  Domestic         7955
                       International    5565
Umass       Grad       Domestic         1378
                       International    4796
            Undergrad  Domestic         2308
                       International    6253
Duke        Grad       Domestic         3355
                       International    4699
            Undergrad  Domestic         6358
                       International    3855
dtype: int64

In [361]:
# With a “stacked” DataFrame or Series (having a MultiIndex as the index), 
# the inverse operation of stack() is unstack(), which by default unstacks the last level:
stacked.unstack()

                      Domestic  International
University Type
Duke       Grad           3355           4699
           Undergrad      6358           3855
UMBC       Grad           4310           6906
           Undergrad      9714           6032
UMD        Grad           5115           6286
           Undergrad      7955           5565
Umass      Grad           1378           4796
           Undergrad      2308           6253

In [362]:
### Reshaping via unstuck
# Watch carefully what happens now!
stacked.unstack(1)

Type                      Grad  Undergrad
University
Duke       Domestic       3355       6358
           International  4699       3855
UMBC       Domestic       4310       9714
           International  6906       6032
UMD        Domestic       5115       7955
           International  6286       5565
Umass      Domestic       1378       2308
           International  4796       6253

In [363]:
# Remember stacked
stacked

University  Type
UMBC        Grad       Domestic         4310
                       International    6906
            Undergrad  Domestic         9714
                       International    6032
UMD         Grad       Domestic         5115
                       International    6286
            Undergrad  Domestic         7955
                       International    5565
Umass       Grad       Domestic         1378
                       International    4796
            Undergrad  Domestic         2308
                       International    6253
Duke        Grad       Domestic         3355
                       International    4699
            Undergrad  Domestic         6358
                       International    3855
dtype: int64

In [364]:
# let's reshape according to the main index
stacked.unstack(0)

University               Duke  UMBC   UMD  Umass
Type
Grad      Domestic       3355  4310  5115   1378
          International  4699  6906  6286   4796
Undergrad Domestic       6358  9714  7955   2308
          International  3855  6032  5565   6253

### PIVOT TABLES

In [365]:
# Let's say we have number of sales for two different products (D and E)
# at four different stores
# by three different managers
# we divide number of sales in two groups: the ones made in week days (M-F)
# and the ones made in weekends (SS)
# managers work either in week days or in weekends but not both
df = pd.DataFrame({'A': ['Store-1', 'Store-2', 'Store-3', 'Store-4'] * 3,
                   'B': ['Manager-1', 'Manager-2', 'Manager-3'] * 4,
                   'C': ['M-F', 'M-F', 'M-F', 'SS', 'SS', 'SS'] * 2,
                   'D': np.random.randint(1,13,12),
                   'E': np.random.randint(1,31,12)})
df

          A          B    C  D   E
0   Store-1  Manager-1  M-F  3  29
1   Store-2  Manager-2  M-F  8  12
2   Store-3  Manager-3  M-F  1   7
3   Store-4  Manager-1   SS  3  14
4   Store-1  Manager-2   SS  9  21
5   Store-2  Manager-3   SS  9  24
6   Store-3  Manager-1  M-F  7  30
7   Store-4  Manager-2  M-F  8  24
8   Store-1  Manager-3  M-F  8  21
9   Store-2  Manager-1   SS  2   3
10  Store-3  Manager-2   SS  1   7
11  Store-4  Manager-3   SS  1  22

In [366]:
# We can produce pivot tables from this data very easily:
# Let's see which manager sold how many "product Ds" in each store
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C                  M-F   SS
A       B
Store-1 Manager-1  3.0  NaN
        Manager-2  NaN  9.0
        Manager-3  8.0  NaN
Store-2 Manager-1  NaN  2.0
        Manager-2  8.0  NaN
        Manager-3  NaN  9.0
Store-3 Manager-1  7.0  NaN
        Manager-2  NaN  1.0
        Manager-3  1.0  NaN
Store-4 Manager-1  NaN  3.0
        Manager-2  8.0  NaN
        Manager-3  NaN  1.0

In [367]:
# Example 2
# Let's say we have number of people 
# as functions of blood type, RH+ or -
# in three towns
df = pd.DataFrame({
    'Type': np.repeat(np.asarray(['A', 'B', 'AB','0']).T, 4, axis=0),
    'RH': [1,-1]*8,
    'M/F': ['Male','Male','Female','Female']*4,
    'D': np.random.randint(10000,20000,16)})

In [368]:
df

   Type  RH     M/F      D
0     A   1    Male  14161
1     A  -1    Male  10128
2     A   1  Female  14449
3     A  -1  Female  13145
4     B   1    Male  14343
5     B  -1    Male  15722
6     B   1  Female  15863
7     B  -1  Female  19646
8    AB   1    Male  13126
9    AB  -1    Male  18191
10   AB   1  Female  11406
11   AB  -1  Female  18571
12    0   1    Male  14536
13    0  -1    Male  16093
14    0   1  Female  12854
15    0  -1  Female  11881

In [369]:
# Let's find out the total number of people 
pd.pivot_table(df,values='D',index=['Type','RH'], columns=['M/F'])

M/F      Female   Male
Type RH
0    -1   11881  16093
      1   12854  14536
A    -1   13145  10128
      1   14449  14161
AB   -1   18571  18191
      1   11406  13126
B    -1   19646  15722
      1   15863  14343

## GETTING DATA IN/OUT

### CSV

In [370]:
# Writing to a csv file
df.to_csv('data601_lecture04.csv')

In [371]:
# Reading from a csv file.
pd.read_csv('data601_lecture04.csv')

    Unnamed: 0 Type  RH     M/F      D
0            0    A   1    Male  14161
1            1    A  -1    Male  10128
2            2    A   1  Female  14449
3            3    A  -1  Female  13145
4            4    B   1    Male  14343
5            5    B  -1    Male  15722
6            6    B   1  Female  15863
7            7    B  -1  Female  19646
8            8   AB   1    Male  13126
9            9   AB  -1    Male  18191
10          10   AB   1  Female  11406
11          11   AB  -1  Female  18571
12          12    0   1    Male  14536
13          13    0  -1    Male  16093
14          14    0   1  Female  12854
15          15    0  -1  Female  11881

### Excel

In [372]:
# Writing to an excel file.
df.to_excel('data601_lecture04.xlsx', sheet_name='Sheet1')

In [373]:
# Reading from an excel file.
pd.read_excel('data601_lecture04.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

    Unnamed: 0 Type  RH     M/F      D
0            0    A   1    Male  14161
1            1    A  -1    Male  10128
2            2    A   1  Female  14449
3            3    A  -1  Female  13145
4            4    B   1    Male  14343
5            5    B  -1    Male  15722
6            6    B   1  Female  15863
7            7    B  -1  Female  19646
8            8   AB   1    Male  13126
9            9   AB  -1    Male  18191
10          10   AB   1  Female  11406
11          11   AB  -1  Female  18571
12          12    0   1    Male  14536
13          13    0  -1    Male  16093
14          14    0   1  Female  12854
15          15    0  -1  Female  11881